{% extends 'main.html' %}
{% load humanize %}
{% load static %}
{% block title %}Add {% if query == lead %} Lead {% else %} Customer {% endif %}{% endblock%}
{% block content %}

<main id="main" class="main">
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>


    {% endfor %}
{% endif %}

    <div class="pagetitle">
     {% if query == lead %}
     <h1>Add Lead</h1>
     {% else %}
     <h1>Add Customer</h1>
     {% endif %}
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'pipeline'%}">Pipeline</a></li>
          {% if query == lead %}
          <li class="breadcrumb-item"><a href="{% url 'leads'%}">Leads</a></li>
          {% else %}
          <li class="breadcrumb-item"><a href="{% url 'customers'%}">Customers</a></li>
          {% endif %}
          <li class="breadcrumb-item active"><i class="bi bi-plus-circle"></i>Add</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              {% if query == lead %}
              <h5 class="card-title">Add Lead</h5>
              {% else %}
              <h5 class="card-title">Add Customer</h5>
              {% endif %}

              {% if form.errors or form.non_field_errors %}
                  <div class="mb-3 p-6 bg-red-100 rounded-xl">
                      {% for field in form %}
                          {{ field.errors }}
                      {% endfor %}

                      {{ form.non_field_errors }}
                  </div>
              {% endif %}

              <!-- General Form Elements -->
              <form method="POST", action="{% url 'add_customer' %}">
                {% csrf_token %}

                <div class="row mb-3">
                <label for="name" class="col-sm-12 col-form-label">Customer Name</label>
                <div class="col-sm-12">
                    {{ form.name }}
                </div>
                </div>

                <div class="row mb-3">
                  <label for="phone" class="col-sm-12 col-form-label">Phone Number</label>
                  <div class="col-sm-12">
                    {{ form.phone }}
                  </div>
                  </div>

                <div class="row mb-3">
                <label for="phone1" class="col-sm-12 col-form-label">Alternative Phone Number</label>
                <div class="col-sm-12">
                    {{ form.phone1 }}
                </div>
                </div>
                
                <div class="row mb-3">
                <label for="email" class="col-sm-12 col-form-label">Email</label>
                <div class="col-sm-12">
                    {{ form.email }}
                </div>
                </div>

                <div class="row mb-3">
                <label for="location" class="col-sm-12 col-form-label">Customer Location</label>
                <div class="col-sm-12">
                    {{ form.location }}
                </div>
                </div>

                <div class="row mb-3">
                <label for="lead_type" class="col-sm-12 col-form-label">Lead Type</label>
                <div class="col-sm-12">
                    {{ form.lead_type }}
                </div>
                </div>

                <div class="row mb-3">
                <label for="label" class="col-sm-11 col-form-label">Customer Label</label>
                <div class="col-sm-11">
                    {{ form.label }}
                </div>
                <div class="col-sm-1 mt-1">
                    <i class="bi bi-plus-circle"></i>
                </div>
                </div>
                <div class="row mb-3">
                <label for="product" class="col-sm-11 col-form-label">Product</label>
                <div class="col-sm-11">
                    {{ form.product }}
                </div>
                <div class="col-sm-1 mt-1">
                    <i class="bi bi-plus-circle"></i>
                </div>
                </div>
                <div class="row mb-3">
                <label for="branch" class="col-sm-11 col-form-label">Company Branch</label>
                <div class="col-sm-11">
                    {{ form.branch }}
                </div>
                <div class="col-sm-1 mt-1">
                    <i class="bi bi-plus-circle"></i>
                </div>
                </div>
                <div class="row mb-3">
                <label for="description" class="col-sm-12 col-form-label">Description</label>
                <div class="col-sm-12">
                    {{ form.description }}
                </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-10 justify-content-center6">
                    <button type="submit" class="btn btn-primary ">Submit Form</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <script>
    src="https://code.jquery.com/jquery-3.6.0.min.js"
  </script>
  <script>
    $(document).ready(function(){
      $('.autocomplete').autocomplete(
        {
          source:'/customer-autocomplete/',
        }
      );
    });
  </script>

  {% endblock %}