{% extends 'main.html' %}
{% load static %}
{% block title %}Add Target {% endblock%}
{% block content %}

<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Add Target</h5>
                    <p class="text-center small">Remember to add a little summary of how you are going to achieve your target under notes</p>
                  </div>
                  {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>


                    {% endfor %}
                  {% endif %}

                  <form class="row g-3 needs-validation"  method="POST" action="{% url 'add_target' %}">
                    {% csrf_token %}
                    {% if form.errors %}
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        Your Form Has Errors
                        {% for field in form %}
                          {% if field.errors %}
                            {{ field.errors }}
                          {% endif %}
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    {% endif %}

                    {{ form.as_p }}

                    <!-- <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div> -->
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Add Target</button>
                    </div>
                    <div class="col-12">
                      <p><a href="{% url 'view_staff' request.user.staff.id %}"><span class="badge bg-secondary w-100">Cancel</span></a></p>
                    </div>
                  </form>

                </div>
              </div>
            

            </div>
          </div>
        </div>

      </section>

    </div>
</main><!-- End #main -->

{% endblock  %}