{% extends 'main.html' %}
{% load static %}
{% block title %}Company Infor {% endblock %}
{% block content %}

<main id="main" class="main">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>


    {% endfor %}
  {% endif %}
  <div class="pagetitle">
    <h1>Company</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item">{% for company in companys %}{{ company.name }}{% endfor %}</li>
        <li class="breadcrumb-item active">{{ branch.branch_name}}</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">
        {% for company in companys %}
        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <!-- <img src="{{ company.imageURL }}" alt="Profile" class="rounded-circle"> -->
            <h2>{{ company.name }}</h2>
            <h3>{{ company.pitch }}</h3>
            <!-- <div class="social-links mt-2">
              {% for link in links %}
                <a href="{{link.url }}" class="{{ link.name }}"><i class="bi bi-{{ link.name }}"></i></a>
              {% endfor %}
            </div> -->
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">My Branch</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-company">Company</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">KPI</button>
              </li>
              {% if request.user.staff.admin %}
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">add KPI</button>
              </li>
              {% endif %}

            </ul>
            <div class="tab-content pt-2">
            
              <div class="tab-pane fade profile-company" id="profile-company">
                {% for company in companys %}
                <h5 class="card-title">{{ company.name }}</h5>
                <p class="small fst-italic">{{company.pitch}}</p>

                <h5 class="card-title">Company Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Address</div>
                  <div class="col-lg-9 col-md-8">{{company.address}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Location</div>
                  <div class="col-lg-9 col-md-8">{{company.location}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">County</div>
                  <div class="col-lg-9 col-md-8">{{company.county}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Country</div>
                  <div class="col-lg-9 col-md-8">{{company.country}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">{{company.phone}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{company.email}}</div>
                </div>
                
                {% endfor %}
              </div>

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">{{ branch.branch_name}}</h5>
                <p class="small fst-italic">{% for company in companys %}{{ company.pitch }}{% endfor %}</p>

                <h5 class="card-title">Branch Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Address</div>
                  <div class="col-lg-9 col-md-8">{{ branch.branch_address}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Location</div>
                  <div class="col-lg-9 col-md-8">{{ branch.location }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">region</div>
                  <div class="col-lg-9 col-md-8">{{branch.region}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Country</div>
                  <div class="col-lg-9 col-md-8">{{ branch.country}}</div>
                </div>

              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                <!-- Profile Edit Form -->
                <form>
                  <div class="row mb-3">
                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                    <div class="col-md-8 col-lg-9">
                      <img src="assets/img/profile-img.jpg" alt="Profile">
                      <div class="pt-2">
                        <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                        <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="fullName" type="text" class="form-control" id="fullName" value="Kevin Anderson">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                    <div class="col-md-8 col-lg-9">
                      <textarea name="about" class="form-control" id="about" style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="company" class="col-md-4 col-lg-3 col-form-label">Company</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="company" type="text" class="form-control" id="company" value="Lueilwitz, Wisoky and Leuschke">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Job" class="col-md-4 col-lg-3 col-form-label">Job</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="job" type="text" class="form-control" id="Job" value="Web Designer">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="country" type="text" class="form-control" id="Country" value="USA">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="address" type="text" class="form-control" id="Address" value="A108 Adam Street, New York, NY 535022">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="phone" type="text" class="form-control" id="Phone" value="(436) 486-3538 x29071">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="email" type="email" class="form-control" id="Email" value="k.anderson@example.com">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter Profile</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="twitter" type="text" class="form-control" id="Twitter" value="https://twitter.com/#">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook Profile</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="facebook" type="text" class="form-control" id="Facebook" value="https://facebook.com/#">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="instagram" type="text" class="form-control" id="Instagram" value="https://instagram.com/#">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="linkedin" type="text" class="form-control" id="Linkedin" value="https://linkedin.com/#">
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </div>
                </form><!-- End Profile Edit Form -->

              </div>

              <div class="tab-pane fade pt-3" id="profile-settings">

                <!-- Card with header and footer -->
                
                  <div class="card-header">Company Key Perfomance Indicators</div>
                  {% for kpi in kpis %}
                  <div class="card-body">
                    <h5 class="card-title"><strong>{{ kpi.id }}.</strong> {{ kpi.KPI_name }}</h5>
                    <span><strong>Defination:</strong> {{ kpi.KPI_defination }}</span><br>
                    {% if kpi.KPI_defination  %}
                    <span class="small text-italic"><strong>Why its Important:</strong> {{ kpi.KPI_defination }}</span>
                    {% endif %}
                  </div>
                  {% endfor %}
                <!-- End Card with header and footer -->
                
              </div>
              {% if request.user.staff.admin %}
              <div class="tab-pane fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <form  method="POST" action="{% url 'add_kpi' %}">
                  {% csrf_token %}
                  <div class="row mb-3">
                    <label for="KPI_name" class="col-md-4 col-lg-12 col-form-label">KPI</label>
                    <div class="col-md-8 col-lg-12">
                      <input name="KPI_name" type="text" class="form-control" id="KPI_name">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="KPI_defination" class="col-md-4 col-lg-12 col-form-label">KPI Definition</label>
                    <div class="col-md-8 col-lg-12">
                      <textarea name="KPI_defination" type="text" class="form-control" id="KPI_defination"></textarea>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="why_is_it_important" class="col-md-4 col-lg-12 col-form-label">Why Is It Important</label>
                    <div class="col-md-8 col-lg-12">
                      <textarea name="why_is_it_important" type="text" class="form-control" id="why_is_it_important"></textarea>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Add KPI</button>
                  </div>
                </form><!-- End Change Password Form -->

              </div>
              {% endif %}
            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->
{% endblock %}